<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Carrito de Compras</h1>
    <table id="carrito-tabla">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="carrito-cuerpo"></tbody>
    </table>
<script src="../assets/js/data.js"></script>
    <script type="module" src="../assets/js/cart.js"></script>
</body>
</html>