<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cart</title>
</head>

<body>
    <header id="top" class="min-h-[20vh] flex flex-wrap justify-center items-center bg-[#FAEAB1]">
        <div
            class="w-3/4 flex flex-wrap flex-col  justify-around items-center py-4 gap-2 sm:flex-row sm:justify-center ">
            <img class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] lg:w-[200px] lg:h-[200px] xl:w-[250px] xl:h-[250px] border rounded-full shadow-[0px_0px_5px_2px_#FAF8F1]"
                src="../assets/img/G.png" alt="logo g&2 jewellry">
            <h1 class=" h1TextShadow px-3 text-xl md:text-2xl lg:text-4xl">-JEWELLRY & FIRENDS-</h1>
        </div>
        <nav class="w-full h-1/3 py-5 flex flex-wrap justify-around bg-[#E5BA73]">
            <a class=" btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="../home.html">HOME</a>
            <a class=" btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./products.html">PRODUCTS</a><a
                class="btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./contact.html">CONTACT</a><a
                class="activeBtn btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] " href="#">CART</a>
        </nav>
    </header>
    <main class="min-h-[60vh] flex justify-center items-center">

        <table class="w-full" id="carrito-tabla">
            <thead>
                <tr>
                    <th></th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody id="carrito-cuerpo"></tbody>
        </table>

    </main>
    <footer class="flex flex-wrap justify-center gap-5 pt-4 bg-[#E5BA73]">
        <nav class="w-full flex flex-wrap justify-around">
            <a class="btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="../home.html">HOME</a><a
                class=" btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./products.html">PRODUCTS</a><a
                class="btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./contact.html">CONTACT</a><a
                class="activeBtn btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] " href="#top">CART</a>
        </nav>
        <div class="text-center text-[#FAF8F1] w-full flex flex-wrap flex-col items-center gap-2 bg-[#C58940] py-3">
            <p>Grupo N°2</p>
            <ul class="flex flex-wrap justify-around list-image-[url(../assets/img/diamondList.png)] list-inside w-3/4">
                <li>Sof</li>
                <li>Dar</li>
                <li>Luc</li>
                <li>Die</li>
            </ul>
            <p>MindHub Cohort N°54</p>
            <p>JEWELLRY&FRIENDS&#169 - 2024. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="../assets/js/data.js"></script>
        <script type="module" src="../assets/js/cart.js"></script>
</body>
