<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contacto</title>
</head>

<body>
    <header id="top" class="min-h-[20vh] flex flex-wrap justify-center items-center bg-[#FAEAB1]">
        <div
            class="w-3/4 flex flex-wrap flex-col  justify-around items-center py-4 gap-2 sm:flex-row sm:justify-center ">
            <img class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] lg:w-[200px] lg:h-[200px] xl:w-[250px] xl:h-[250px] border rounded-full shadow-[0px_0px_5px_2px_#FAF8F1]"
                src="../assets/img/G.png" alt="logo g&2 jewellry">
            <h1 class=" h1TextShadow px-3 text-xl md:text-2xl lg:text-4xl">-JEWELERY & FRIENDS-</h1>
        </div>
        <nav class="w-full h-1/3 py-5 flex flex-wrap justify-around bg-[#E5BA73]">
            <a class=" btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="../home.html">Inicio</a>
            <a class=" btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./products.html">Productos</a><a
                class="activeBtn btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="#">Contacto</a><a class="btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./cart.html">CART</a>
        </nav>
    </header>
    <main class="min-h-[60vh]">
        <section class=" h-full py-10 flex flex-col items-center gap-5 bg-[--blanco]">
            <h2 class="mb-5 text-4xl">Contactanos!</h2>
            <form id="formulario"
                class=" flex flex-col items-center justify-center bg-[--chocolate] w-3/4 md:w-3/5 py-10 rounded-lg shadow-[0px_5px_6px_4px_#718096]">

                <label class="text-lg mb-2 self-start pl-5 text-[--blanco] md:w-3/4 md:self-center font-medium"
                    for="Nombre">Nombre
                    Completo:</label>
                <input class="md:w-3/5 text-center shadow-[inset_0px_-2px_3px_2px_#a0aec0] rounded-md mb-5" type="text"
                    name="Nombre" id="NombreCompleto">
                <label class="text-lg md:w-3/4 md:self-center mb-2 self-start pl-5 text-[--blanco] font-medium"
                    for="email">Email:</label>
                <input class="md:w-3/5 text-center shadow-[inset_0px_-2px_3px_2px_#a0aec0] rounded-md mb-5" type="email"
                    name="email" id="email">
                <label class="text-lg md:w-3/4 md:self-center mb-2 self-start pl-5 text-[--blanco] font-medium"
                    for="asunto">Asunto:</label>
                <input class="md:w-3/5 text-center shadow-[inset_0px_-2px_3px_2px_#a0aec0] rounded-md mb-5" type="text"
                    name="asunto" id="asunto">
                <label class="text-lg md:w-3/4 md:self-center mb-2 self-start pl-5 text-[--blanco] font-medium"
                    for="msjCon">Mensaje o consulta:</label>
                <input class="md:w-3/5 text-center shadow-[inset_0px_-2px_3px_2px_#a0aec0] rounded-md mb-7 h-[60px]"
                    type="text" name="msjCon" id="msjCon">
                <button
                    class="h- transition delay-200 hover:text-xl hover:bg-[#A0153E] hover:text-[--blanco] shadow-[0px_3px_5px_5px_#ed8936] rounded-md border bg-[--blanco] px-3 py-2 font-medium">Enviar</button>
            </form>
        </section>

    </main>
    <footer class="flex flex-wrap justify-center gap-5 pt-4 bg-[#E5BA73]">
        <nav class="w-full flex flex-wrap justify-around">
            <a class="btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="../home.html">Inicio</a><a
                class=" btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./products.html">Productos</a><a
                class="activeBtn btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="#top">ContactoT</a><a class="btnNav border rounded-md px-3 py-1 shadow-[0px_5px_3px_3px_#00000024] "
                href="./cart.html">Carrito</a>
        </nav>
        <div class="text-center text-[#FAF8F1] w-full flex flex-wrap flex-col items-center gap-2 bg-[#C58940] py-3">
            <p>Grupo N°2</p>
            <ul class="flex flex-wrap justify-around items-center list-disc list-inside w-3/4">
                <li class="border rounded-xl px-3 py-1">Sof</li>
                <li class="border rounded-xl px-3 py-1">Dar</li>
                <li class="border rounded-xl px-3 py-1">Luc</li>
                <li class="border rounded-xl px-3 py-1">Die</li>
            </ul>
            <p>MindHub Cohort N°54</p>
            <p>JEWELERY&FRIENDS&#169 - 2024. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="../assets/js/contact.js"></script>
</body>

</html>